body {
    margin: 0;
    min-width: 400px;
    max-width: 600px;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.content {
    margin: 0 auto;
    background: #b7e4c7;
    padding: 20px;
}

h1,
h2,
h3 {
    font-weight: 700;
    margin-top: 0;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 0;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.2rem;
}

p {
    margin-bottom: 0;
}

#img-col {
    width: 100px;
    border-radius: 50%;
}

.intro {
    background-image: url("../img/town.jpg");
    background-position: center;
    background-size: cover;
    padding: 0 20px;
    background-color: grey;
    background-blend-mode: multiply;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #f2cc8f;
}

#subtitle-columns {
    margin-top: 1em;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.column-1-2 {
    margin-left: 5px;
}

.ian {
    width: 50%;
    min-width: 270px;
    background: #e07a5f;
    margin: 30px auto;
    padding: 20px;
    border-bottom: solid #b7e4c7 8px;
}

#ian {
    width: 30%;
    min-width: 150px;
}

.ian-txt {
    margin-left: 10px;
}